@using hub.Client.Views.Components.Layouts
@using hub.Client.ViewModels.Countdown
@inherits LayoutComponentBase

@attribute [AllowAnonymous]
@inject ICountdownViewModel _countdownViewModel
@implements IDisposable

@layout NoHeaderLayout
@page "/countdown"

<div class="main">
	<audio @ref="_countdownViewModel.Audio" loop>
		<source src="assets/countdown/silent-night.mp4" type="audio/mpeg">
	</audio>
	<button type="button" @onclick="_countdownViewModel.ToggleAudio" aria-expanded="false" aria-label="Play Audio">
		<span class="@_countdownViewModel.Icon"></span>
	</button>
	<img src="assets/countdown/christmas-tree.svg" alt="Christmas Tree"/>
</div>

@code {
	protected override void OnInitialized() {
		base.OnInitialized();
		_countdownViewModel.StateChanged += StateHasChanged;
	}

	public void Dispose()
	{
		_countdownViewModel.StateChanged -= StateHasChanged;
	}
}
