@page "/"
@attribute [AllowAnonymous]
@inject NavigationManager _navigationManager

<AuthorizeView>
	<Authorized>
		<h1>Hello, world!</h1>

		<p>Welcome to your new app.</p>
	</Authorized>
	<NotAuthorized>
		@if (true) { _navigationManager.NavigateTo("login"); }
	</NotAuthorized>
</AuthorizeView>

